.main-heading {
  padding: 10px 20px;
  text-align: center;
}

.main-heading .blue-button {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.main-heading__heading {
  display: inline-block;
  font-size: 40px;
  vertical-align: middle;
}

.description {
  padding: 0 20px 10px 20px;
  text-align: center;
}

.map {
  display: block;
  width: 100%;
}

.map__container {
  display: block;
  width: 50%;
  vertical-align: top;
  margin: 0 auto;
}

.root {
  position: relative;
  height: 700px;
}

.map svg {
  position: absolute;
  left: 0;
  top: 0;
}

path:hover {
  fill: #4682b4;
  cursor: pointer;
  fill-opacity: 1;
}

.info {
  display: block;
  width: 50%;
  vertical-align: top;
  padding: 0px 20px;
  margin: 0 auto;
}

.map-search {
  font-size: 20px;
  margin: 0 5px 10px;
}

.english-name {
  font-size: 20px;
}

.pinyin {
  font-size: 20px;
}

.simplified-chinese {
  font-size: 48px;
}

.english-capital-city {
  font-size: 20px;
}

.population {
  font-size: 20px;
}

.china-map {
  position: relative;
}

.chart {
  display: inline-block;
}

.mouse-info {
  position: absolute;
}

.mouse-title {
  position: relative;
  z-index: 10;
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
  display: none;
}

.graphs {
  padding: 20px;
  text-align: center;
}

/*D3 Start*/
.bar {
  fill: steelblue;
  cursor: pointer;
}

.bar:hover {
  fill: grey;
}

.axis text {
  font: 10px sans-serif;
  fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
/*D3 End*/
